<form name="reviewForm" ng-submit="reviewForm.$valid && review.addReview(product)" novalidate>
    <blockquote ng-show="review.isInputing()">
        <b>Stars: {{review.detail.stars}}</b><br>
        {{review.detail.body}}<br>
        <cite>--{{review.detail.author}}</cite>
    </blockquote>
    <h5>
        <b>Submit a Review</b><h5>
            <select class="form-control" ng-model="review.detail.stars" required>
                <option value="" disabled selected>Rate the product</option>
                <option value="1">1 stars</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select><br>
            <textarea class="form-control" ng-model="review.detail.body" placeholder="Write a short review of this product..." required></textarea><br>
            <input class="form-control" ng-model="review.detail.author" type="email" placeholder="product.review@abc.com" required /><br>
            <input class="btn-info" type="submit" value="Submit Review" />
</form>
